$white_color: #ffffff !default;
$black_color: #000000 !default;
$black_text_color: lighten($black_color, 20%);
$black_text_alt_color: lighten($black_color, 50%);
$base_color: #a53484 !default;
$success_color: #18A566 !default;
$danger_color: rgb(165, 31, 24) !default;
$warning_color: rgb(165, 154, 24) !default;

$size_tablet: 768px !default;
$size_laptop: 992px !default;
$size_desktop: 1200px !default;

$nav_height: 70px !default;