@import "./src/assets/scss/style";

.project-items-wrapper {
  > .frow {
    > div {
      .project-item {
        position: relative;
        margin-bottom: 1rem;
        //height: calc(100% - 1rem);
        background-color: $white_color;
        padding: 1rem 1rem;
        border: 1px solid rgba($black_color, .1);
        @include border-radius(4px);
        @include transition(all .2s ease);
        @include breakpoint($size_tablet) {
          margin-left: 7.5px;
          margin-right: 7.5px;
        }

        > a {
          > h3 {
            font-weight: 500;
            margin: 0 0 1rem;
            color: $base_color;
          }
        }

        > .forked {
          position: absolute;
          top: 1rem;
          right: 1rem;

          &:after {
            @include remixicon_font;
            content: "\ed85";
            font-size: 1rem;
          }
        }

        > p {
          font-size: 16px;
          color: $black_text_alt_color;
          margin: 0 0 1rem;
          @include breakpoint($size_tablet) {
            @include ellipse_text(1);
          }
        }

        > ul.project-languages {
          //display: block;
          list-style: none;
          margin: 0;
          padding: 0;

          > li {
            display: inline-block;
            color: $white_color;
            margin-right: 5px;

            > span {
              font-size: 12px;
              font-weight: 400;
              line-height: 1;
              padding: 0 .5rem;
              @include border-radius(4px);
              @include text_shadow();
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &:hover,
        &:active,
        &:focus {
          @include box-shadow();
        }
      }

      &:last-child {
        .project-item {
          margin-bottom: 0;
        }
      }
    }
  }
}