@import "./src/assets/scss/style";

.button {
  background-color: $base_color;
  color: $white_color;
  padding: .75rem 2rem;
  border: 1px solid rgba($black_color, .1);
  display: inline-block;
  font-weight: 500;
  @include border-radius(4px);
  @include text_shadow();
  @include transition(all .2s ease);

  &:hover,
  &:active,
  &:focus {
    color: $white_color;
    outline: none;
    text-decoration: none;
  }

  &.button-success {
    background-color: $success_color !important;
  }

  &.button-text {
    border-color: transparent;
    background-color: transparent;
  }

  &.button-outline {
    background-color: transparent;
    color: $base_color;
    border: 2px solid $base_color;
    text-shadow: none;

    &:hover {
      color: $base_color;
    }
  }

  &:not(.button-text):hover,
  &:not(.button-text):active,
  &:not(.button-text):focus {
    @include box-shadow();
  }
}