@import "./src/assets/scss/style";

section.section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2.section-title {
    text-align: center;
    margin: 0 0 2.5rem;
    font-weight: 400;
    color: $base_color;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }

  @include breakpoint($size_tablet) {
    padding-top: 5rem;
    padding-bottom: 5rem;

    p {
      font-size: 20px;
    }
  }
}