@import "./src/assets/scss/style";

section.section.section-single {

  .single-meta {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    .author-avatar {
      margin-right: .5rem;

      img {
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        border-top: 2px solid $base_color;
        border-right: 2px solid transparent;
        border-bottom: 2px solid $base_color;
        border-left: 2px solid transparent;
        padding: 3px;
        @include transition(all .2s ease);

        &:hover {
          border-color: rgba($black_color, .4) transparent rgba($black_color, .4) transparent;
        }
      }
    }

    .author-detail {
      > a {
        pointer-events: none;
        display: inline-block;
        color: $base_color;
        text-transform: capitalize;
      }

      > span.meta-date {
        display: block;
        font-size: 14px;
        color: lighten($black_color, 40%);
      }
    }
  }

  font-size: 18px;
  @include breakpoint($size_tablet) {
    font-size: 20px;
  }

  img.wp-post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2rem;
    @include border-radius(4px);
  }

  a {
    color: $base_color;
  }

  ul, ol {
    li {
      line-height: 1.4;
    }
  }

  p {
    margin-bottom: 1rem;

    &.thumbnail-caption {
      text-align: center;
      font-size: 14px;
      margin-top: -1.5rem;
      margin-bottom: 1.5rem;
      color: $black_text_alt_color;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wp-caption {
    width: 100% !important;
    margin-bottom: 1.5rem;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 2rem;
      @include border-radius(4px);
    }

    p.wp-caption-text {
      font-size: 14px;
      margin-top: -1.5rem;
      color: $black_text_alt_color;
    }

    &.aligncenter {
      img {
        margin-left: auto;
        margin-right: auto;
      }

      p.wp-caption-text {
        text-align: center;
      }
    }

    &.alignright {
      img {
        margin-left: auto;
      }

      p.wp-caption-text {
        text-align: right;
      }
    }

    &.alignleft {
      img {
        margin-right: auto;
      }

      p.wp-caption-text {
        text-align: left;
      }
    }
  }

  @include breakpoint($size_tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}